{% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="section-title">
                <h3 style="color:black">Haberler</h3>
            </div>
            <ul class="list-links">
                {% for rs in news %}
                <li>
                    <a href="/content/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-4">
            <div class="section-title">
                <h3 style="color:black">Duyurular</h3>
            </div>
            <ul class="list-links">
                {% for rs in announcements %}
                <li>
                    <a href="/content/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-4">
            <div class="section-title">
                <h3 style="color:black">Etkinlikler</h3>
            </div>
            <ul class="list-links">
                {% for rs in etkinlik %}
                <li>
                    <a href="/content/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
