{% extends "homebase.html" %}

{% block title %} {{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}'>
{% endblock %}


{% block content %}
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
            <li class="breadcrumb-item"><a href="#">Hakkımızda</a></li>
            <li class="breadcrumb-item active">Tarihçemiz</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
<br> <br>
<div class="section">
    <div class="container">
        <div class="row">
            {{ setting.aboutus | safe }}
        </div>
    </div>
</div>
{% endblock %}

