{% load static %}

<!-- Top bar Start -->
<div class="top-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <i class="fa fa-envelope"></i>
                support@email.com
            </div>
            <div class="col-sm-6">
                <i class="fa fa-phone-alt"></i>
                +012-345-6789
            </div>
        </div>
    </div>
</div>
<!-- Top bar End -->

<!-- Nav Bar Start -->
<div class="nav">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a href="/" class="nav-item nav-link active">ANASAYFA</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">HAKKIMIZDA</a>
                        <div class="dropdown-menu">
                            <a href="/hakkimizda" class="dropdown-item">Tarihçemiz</a>
                            <a href="/yonetim_kadrosu" class="dropdown-item">Yönetim Kadrosu</a>
                            <a href="/gonullu_ekiplerimiz" class="dropdown-item">Gönüllü Ekiplerimiz</a>
                        </div>
                    </div>
                    <a href="/referanslar" class="nav-item nav-link">REFERANSLAR</a>
                    <a href="/hizmetlerimiz" class="nav-item nav-link">HİZMETLERİMİZ</a>
                    <a href="/blog" class="nav-item nav-link">BLOG</a>
                    <a href="/galeri" class="nav-item nav-link">GALERİ</a>
                    <a href="/iletisim" class="nav-item nav-link">İLETİŞİM</a>
                </div>
                <div class="navbar-nav ml-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Kullanıcı Hesabı</a>
                        <div class="dropdown-menu">
                            <a href="/login" class="dropdown-item">Giriş Yap</a>
                            <a href="/kaydol" class="dropdown-item">Kayıt Ol</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Nav Bar End -->

<script>
    $(function(){
        $("#query").autocomplete({
            source: "/search_auto/",
            select: function(event,ui){
                AutoCompleteSelectHandler(event,ui)
            },
            minLength: 2,
        });
    });

    function AutoCompleteSelectHandler(event,ui)
    {
        var selectedObj = ui.item;
    }


</script>

<!-- Bottom Bar Start -->
<div class="bottom-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="logo">
                    <a href="index.html">
                        <img src=" {% static 'img/logo1.png' %} " alt="Logo">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <form action="/search/" method="post">
                    {% csrf_token %}
                    <div class="search">
                        <input id="query" name="query" class="input search-input" type="text" placeholder="Search">
                        {% load mptt_tags %}
                        <select name="catid" class="input search-categories">
                            <option value="0">Tüm Kategoriler</option>
                            {% recursetree category %}
                            {% if node.is_leaf_node %}
                            <option value="{{ node.id }}">{{ node.title }}</option>
                            {% endif %}
                            {% if not node.is_leaf_node %}
                            <optgroup label="{{ node.title }}">
                                {{ children }}
                            </optgroup>
                            {% endif %}
                            {% endrecursetree %}
                        </select>
                        <button><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <div class="user">
                    <a href="wishlist.html" class="btn wishlist">
                        <i class="fa fa-heart"></i>
                        <span>(0)</span>
                    </a>
                    <a href="cart.html" class="btn cart">
                        <i class="fa fa-shopping-cart"></i>
                        <span>(0)</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bottom Bar End -->
