{% load static %}

<!-- Top bar Start -->
<div class="top-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <i class="fa fa-envelope"></i>
                <a href="mailto:safranboluyardimlasma@gmail.com">safranboluyardimlasma@gmail.com</a>
            </div>
            <div class="col-sm-6">
                <i class="fa fa-phone-alt"></i>
                +012-345-6789
            </div>
        </div>
    </div>
</div>
<!-- Top bar End -->

<!-- Nav Bar Start -->
<div class="nav">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a href="/" class="nav-item nav-link">ANASAYFA</a>
                    <div class="nav-item dropdown">
                        <a href="/hakkimizda" class="nav-link">HAKKIMIZDA</a>
                    </div>
                    <a href="/referanslar" class="nav-item nav-link">REFERANSLAR</a>
                    <a href="/hizmetlerimiz" class="nav-item nav-link">HİZMETLERİMİZ</a>
                    <a href="/iletisim" class="nav-item nav-link">İLETİŞİM</a>
                    <a href="/sss" class="nav-item nav-link">SIKÇA SORULAN SORULAR</a>
                    <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">BAĞIŞ & AİDAT</a>
                                <div class="dropdown-menu">
                                    <a href="/bagis" class="dropdown-item">Bağış</a>
                                    <a href="/aidat" class="dropdown-item">Aidat</a>
                                </div>
                            </div>
                </div>
                <!-- Account start-->
                <div class="navbar-nav ml-auto">
                    <div class="nav-item dropdown">
                        {% if user.id is not None %}

                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{ user.username }}</a>
                        <div class="dropdown-menu">
                            <a href="/user" class="dropdown-item">Hesabım</a>
                            <a href="/user/comments" class="dropdown-item">Yorumlarım</a>
                            <a href="/user/contents" class="dropdown-item">İçeriklerim</a>
                            <a href="/logout" class="dropdown-item">Çıkış</a>

                        </div>
                        {% else %}
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Kullanıcı İşlemleri</a>
                        <div class="dropdown-menu">
                            <a href="/login" class="dropdown-item">Giriş</a>
                            <a href="/signup" class="dropdown-item">Kaydol</a>
                        </div>

                        {% endif %}
                    </div>
                </div>
                <!-- Account end -->
            </div>
        </nav>
    </div>
</div>
<!-- Nav Bar End -->

<script>
    $(function(){
        $("#query").autocomplete({
            source: "/search_auto/",
            select: function(event,ui){
                AutoCompleteSelectHandler(event,ui)
            },
            minLength: 2,
        });
    });

    function AutoCompleteSelectHandler(event,ui)
    {
        var selectedObj = ui.item;
    }

</script>

<!-- Bottom Bar Start -->
<div class="bottom-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="logo">
                    <a href="/">
                        <img src=" {% static 'img/logo1.png' %} " alt="Logo">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <form action="/search/" method="post">
                    {% csrf_token %}
                    <div class="search">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <input id="query" name="query" class="input search-input" type="text"
                                           placeholder="Ara">
                                    <button><i class="fa fa-search"></i></button>
                                </div>
                                <div class="col-md-6">
                                    {% load mptt_tags %}
                                    <select name="catid" class="input search-categories">
                                        <option value="0">Tüm Kategoriler</option>
                                        {% recursetree category %}
                                        {% if node.is_leaf_node %}
                                        <option value="{{ node.id }}">{{ node.title }}</option>
                                        {% endif %}
                                        {% if not node.is_leaf_node %}
                                        <optgroup label="{{ node.title }}">
                                            {{ children }}
                                        </optgroup>
                                        {% endif %}
                                        {% endrecursetree %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- Bottom Bar End -->
