{% extends "homebase.html" %}

{% block title %}  {{ setting.company }}  {% endblock %}
{% block keywords %} {{ setting.keywords }}r {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}'>
{% endblock %}
{% block content %}
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
            <li class="breadcrumb-item"><a href="#">Referanslar</a></li>

        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
<br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
             <div>
                  {% include "sidebar.html" %}
            </div>
        </div>
        <div class="col-md-8">
            {{ setting.referances | safe }}
        </div>
    </div>
</div>
{% endblock %}

