{% load static %}

<!-- Main Slider Start -->
<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9" align="center">
                <button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="">Previous</button>
                <div class="header-slider normal-slider">  <!-- slider burada çalışıyor -->
                    {% for rs in sliderdata %}
                    <div class="header-slider-item">
                        <img src=" {{ rs.image.url }} " alt="Slider Image"/>
                        <div class="banner-caption text-center">
                            <h1>
                                {{ rs.title }}
                            </h1>
                            <h3 class="white-color font-weak">
                                {{ rs.description }}
                            </h3>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button class="slick-next slick-arrow" aria-label="Next" type="button" style="">Next</button>
            </div>
            <div class="col-md-3">
                <div class="header-img">
                    <div class="img-item">
                        <img src="{% static 'img/category-1.jpg' %}"/>
                        <a class="img-text" href="">
                            <p>Some text goes here that describes the image</p>
                        </a>
                    </div>
                    <div class="img-item">
                        <img src="{% static 'img/category-2.jpg' %}"/>
                        <a class="img-text" href="">
                            <p>Some text goes here that describes the image</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Slider End -->