{% load static %}
{% load mptt_tags %}
<!-- Main Slider Start -->
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <nav>
                    <ul class="mcd-menu" >
                        <li>
                            {% load mptt_tags %}
                            {% recursetree category %}
                        <li>
                            <a href=""><i class="fa "></i><strong>{{ node.title }}</strong></a>
                            {% if not node.is_leaf_node %}
                            <ul class="children" style="list-style-type:none">
                                <li><a href="#"><i class="fa "></i>{{ children }}</a></li>
                            </ul>
                            {% endif %}
                        </li>
                        {% endrecursetree %}
                        </li>


                        <li>
                            <a href="">
                                <i class="fa fa-envelope-o"></i>
                                <strong>Bağış & Aidat</strong>
                            </a>
                            <ul style="list-style-type:none">
                                <li><a href="#"><i class="fa "></i>Bağış</a></li>
                                <li><a href="#"><i class="fa "></i>Aidat</a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>


            <div class="col-md-8" align="center">
                <button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="">Previous</button>
                <div class="header-slider normal-slider">  <!-- slider burada çalışıyor -->

                    {% for rs in sliderdata %}
                    <div class="header-slider-item">
                        <img src=" {{ rs.image.url }} " alt="Slider Image"/>
                        <div class="banner-caption text-center">
                            <h1>
                                {{ rs.title }}
                            </h1>
                            <h3 class="white-color font-weak">
                                {{ rs.description }}
                            </h3>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button class="slick-next slick-arrow" aria-label="Next" type="button" style="">Next</button>
            </div>
        </div>
    </div>
</div>
<!-- Main Slider End -->
