{% load static %}

            <button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="">Previous</button>
            <div class="header-slider normal-slider">  <!-- slider burada çalışıyor -->

                {% for rs in sliderdata %}
                <div class="header-slider-item">
                    <a href="#"><img src=" {{ rs.image.url }} " alt="Slider Image"/></a>
                    <br><br>
                </div>
                {% endfor %}
            </div>
            <button class="slick-next slick-arrow" aria-label="Next" type="button" style="">Next</button>


