{% extends "homebase.html" %}

{% block title %} {{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}'>
{% endblock %}


{% block content %}
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
            <li class="breadcrumb-item"><a href="#">Parola Güncelle</a></li>

        </ul>
    </div>
</div>
<!-- Breadcrumb End -->


<div class="my-account">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                {% include "user_panel.html" %}
            </div>
            <div class="col-md-9">
                <section class="ftco-section ftco-degree-bg">

                    {% if messages %}
                        {% for message in messages %}
                            <div style="color:#d43f3a; font-size:medium">
                                {{ message|safe }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form method="post">
                        {% csrf_token %}

                        {% for field in form %}
                        <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% if field.help_text %}
                            <small style="color:grey">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in fields.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </p>
                        {% endfor %}
                        <button class="primary-btn" type="submit">Save Changes</button>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

{% endblock %}

