<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title> Content Gallery </title>

</head>
<body class="goto-here">
<h2>{{ content.title }}</h2>

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert">
    {{ message|safe }}
</div>
{% endfor %}
{% endif %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="content_id" id="id_content_id" value="{{ content.id }}">
    <label for="id_tittle"> Title:</label>
    <input type="text" name="title" class="input" placeholder="tittle" maxlength="50" id="id_title">
<label for="id_tittle"> Image:</label>
<input type="file" name="image" class="input" placeholder="image" accept="image/*" id="id_image">
<button class="primary-btn" type="submit">Upload Image</button>

</form>

<hr>
<h4>Yüklenen Resimler</h4>
{% for rs in images %}
    <img src="{{ rs.image.url }}" height="200">
{% endfor %}


</body>
</html>
