<div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" id="orders-nav" data-toggle="" href="/user" role="tab"><i
            class="fa fa-shopping-bag"></i>Kullanıcı Bilgileri</a>
    <a class="nav-link" id="payment-nav" data-toggle="" href="/user/comments" role="tab"><i
            class="fa fa-credit-card"></i>Yorumlarım</a>
    <a class="nav-link" id="address-nav" data-toggle="" href="user/iceriklerim" role="tab"><i
            class="fa fa-map-marker-alt"></i>İçeriklerim</a>
    <a class="nav-link" id="account-nav" data-toggle="" href="#account-tab" role="tab"><i class="fa fa-user"></i>Bilgileri Güncelle</a>
    <a class="nav-link" href="/logout"><i class="fa fa-sign-out-alt"></i>Logout</a>
</div>
