<div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
    <a class="nav-link" id="orders-nav" data-toggle="" href="/user" role="tab"><i
            class="	fa fa-address-card"></i>Kullanıcı Bilgileri</a>
    <a class="nav-link" id="payment-nav" data-toggle="" href="/user/comments" role="tab"><i
            class="fa fa-comments"></i>Yorumlarım</a>
    <a class="nav-link" id="address-nav" data-toggle="" href="/user/contents" role="tab"><i
            class="	fa fa-folder-open"></i>İçeriklerim</a>
    <a class="nav-link" href="/logout"><i class="fa fa-sign-out-alt"></i>Logout</a>
</div>
